@font-face {
   font-family: 'superstar_grotesk';
   src: url('../fonts/superstar_grotesk.woff2') format('woff2'), url('../fonts/superstar_grotesk.woff') format('woff'),
      url('../fonts/superstar_grotesk.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.body {
   display: inline-flex;
   flex-wrap: wrap;
   align-content: space-between;
   width: 100%;
   height: auto;
   min-height: 100vh;
   font-family: 'superstar_grotesk';
   font-size: 35px;
   line-height: 1.2;
   font-weight: 400;
   background-color: #fff;

   &.lock {
      overflow-x: hidden;
      overflow-y: hidden;
   }
}

.container {
   position: relative;
   margin: 0 auto;
   max-width: 1800px;
}

.section {
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
   @include css-r('padding-left', 60, 20, 1);
   @include css-r('padding-right', 60, 20, 1);
   @media screen and (max-width: 599px) {
      padding-left: 20px;
      padding-right: 20px;
   }
}
