/*----------------------------------------------- BUTTONS*/

.forBtn {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 24px;
   &.ta--c {
      justify-content: center;
   }
   &.ta--r {
      justify-content: flex-end;
   }
}

.button {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   @include css-r('font-size', 40, 20, 1);
   line-height: 1.1;
   padding: 10px 30px;
   border-radius: 50px;
   border: 2px solid var(--black);
   background: var(--button-color);
   color: var(--black);
   transition: 250ms var(--cubic);
   letter-spacing: -0.5px;
   cursor: pointer;
   &:hover,
   &:focus {
      background: var(--button-color-hover);
      color: var(--white);
   }
   &.small {
      border: 1px solid #707070;
      font-size: 14px;
      padding: 8px 20px;
      letter-spacing: 0.4px;
      &:hover,
      &:focus {
         border: 1px solid #000000;
      }
   }
   &:disabled {
      opacity: 0.5;
      cursor: auto;
      pointer-events: none;
   }
}
