.section--hero {
   @include css-r('padding-bottom', 250, 100, 1);
   .title-wrapp {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 2px solid var(--black);
      overflow: hidden;
      padding: 10px 0px;
      position: relative;
      .title--h1 {
         max-width: 93%;
         position: relative;
         left: -1.8%;
      }
      svg {
         margin: 0;
         flex-shrink: 1;
         @include css-r('width', 132, 52, 1);
         @include css-r('height', 158, 62, 1);
      }
      @media screen and (max-width: 599px) {
         .title--h1 {
            max-width: 100%;
         }
         svg {
            position: absolute;
            right: 0px;
            bottom: 10px;
         }
      }
   }
}

.heroSlider {
   margin: 40px 0px;
   overflow: hidden;
   @media screen and (max-width: 767px) {
      margin: 20px 0px;
   }
   .swiper-slide {
      position: relative;
      &:before {
         content: '';
         display: block;
         width: 100%;
         padding-top: 48%;
         @media screen and (max-width: 767px) {
            padding-top: 68%;
         }
      }
   }
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
   }
}

.heroText {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   gap: 24px;
   .title {
      @include css-r('font-size', 40, 28, 1);
      max-width: 73%;
      line-height: 1.2;
   }
   .subtitle {
      display: inline-block;
      width: auto;
      max-width: 860px;
   }
   svg {
      width: 50px;
      height: 60px;
   }
   @media screen and (max-width: 767px) {
      .button {
         margin-left: auto;
      }
   }
}

.section--new {
   @include css-r('padding-bottom', 200, 80, 1);
}

/*------------------------- products*/

.products {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: flex-start;
   @include css-r('margin-top', 30, 10, 1);
   gap: 1%;
   @media screen and (max-width: 599px) {
      gap: 0%;
   }
   .products__item {
      width: 100%;
      margin: 30px 0px;
      @media screen and (max-width: 880px) {
         margin: 20px 0px;
      }
   }
   &.products--3 {
      .products__item {
         width: 32.666666%;
         @media screen and (max-width: 1279px) {
            width: 49.5%;
         }
         @media screen and (max-width: 880px) {
            width: 100%;
         }
      }
   }
   &.products--2 {
      .products__item {
         width: 49.5%;
         @media screen and (max-width: 880px) {
            width: 100%;
         }
         .product {
            .product__image {
               &:before {
                  padding-top: 85%;
               }
               img {
                  width: auto;
                  max-width: 100%;
               }
            }
         }
      }
   }
}

.product {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 1%;
   align-items: center;
   .product__image {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: var(--grey);
      overflow: hidden;
      order: 1;
      &:before {
         content: '';
         display: block;
         width: 100%;
         padding-top: 114%;
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         transform: scale(1);
         transition: 500ms ease-out;
      }
      &:hover {
         img {
            transform: scale(1.02);
         }
      }
   }
   a:hover {
      .title {
         opacity: 0.5;
      }
   }

   .product__title {
      order: 4;
      @media screen and (max-width: 880px) {
         order: 3;
         br {
            display: none;
         }
      }
      .title {
         opacity: 1;
         margin-top: 14px;
      }
   }
}

.product__price {
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;
   width: 49%;
   padding: 14px 0px;
   font-size: 14px;
   line-height: 1.2;
   order: 3;
   @media screen and (max-width: 880px) {
      order: 4;
      width: 100%;
      justify-content: space-between;
   }
   .price {
      margin-right: 20px;
   }
}
.author {
   display: inline-block;
   font-size: 14px;
   line-height: 1.2;
   width: 50%;
   order: 2;
   @media screen and (max-width: 880px) {
      width: 100%;
      margin-top: 14px;
   }
}

/*-------------------prepearing*/
.prepearing {
   width: 100%;
   border-top: 2px solid var(--black);
   @include css-r('margin-top', 150, 60, 1);
   @media screen and (max-width: 767px) {
      border-top: 1px solid var(--black);
   }
}
.prepearing__item {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border-bottom: 2px solid var(--black);
   @include css-r('padding-top', 20, 10, 1);
   @include css-r('padding-bottom', 20, 10, 1);
   @media screen and (max-width: 767px) {
      border-bottom: 1px solid var(--black);
   }
   .author {
      display: inline-block;
      width: 50%;
      padding-right: 20px;
      order: 1;
      margin: 0;
   }
   .title {
      display: inline-block;
      width: 50%;
      order: 2;
   }
   @media screen and (max-width: 767px) {
      .author {
         width: 100%;
         padding-right: 0px;
         margin-bottom: 10px;
      }
      .title {
         width: 100%;
      }
   }
}

/*------------------------ section--events*/

.section--events {
   @include css-r('padding-top', 120, 30, 1);
   @include css-r('padding-bottom', 250, 80, 1);
}

.events {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   @include css-r('gap', 160, 70, 1);
}

.event {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   .event__image {
      display: flex;
      width: 45.834%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      @media screen and (max-width: 767px) {
         width: 100%;
      }
      &:before {
         content: '';
         display: block;
         width: 100%;
         padding-top: 100%;
      }
      img {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
      }
   }
   .event__text {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      width: 54.166%;
      height: 100%;
      @include css-r('padding-left', 80, 20, 1);
      @media screen and (max-width: 767px) {
         width: 100%;
         height: auto;
         padding-left: 0px;
      }
   }
}

.eventTextTitle {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: flex-start;
   align-items: flex-start;
   margin-bottom: 20px;
   .title {
      width: 50%;
      padding-right: 30px;
      @media screen and (max-width: 1023px) {
         width: 100%;
         padding-right: 0px;
      }
      @media screen and (max-width: 767px) {
         width: 100%;
         margin-bottom: 20px;
         margin-top: 20px;
      }
   }
   ul {
      width: 50%;
      @media screen and (max-width: 1023px) {
         width: 100%;
      }
      li {
         padding: 14px 0px;
         font-size: 14px;
         line-height: 1.2;
         border-bottom: 2px solid var(--black);
      }
   }
}

/*--------------------------------- section--authors*/

.section--authors {
   @include css-r('padding-top', 100, 50, 1);
   @include css-r('padding-bottom', 200, 80, 1);
}

.authorItem {
   width: 100%;
   border-top: 2px solid var(--black);
   @media screen and (max-width: 767px) {
      border-top: 1px solid var(--black);
   }
}

.accordeon {
   .accordeon__top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 20px;
      @include css-r('padding-right', 70, 44, 1);
      svg {
         position: absolute;
         right: 0px;
         @include css-r('width', 40, 28, 1);
         @include css-r('height', 40, 28, 1);
         transition: 250ms var(--cubic);
         transform: rotate(-180deg);
      }
   }
   &.is_open {
      .accordeon__top {
         svg {
            transform: rotate(0deg);
         }
      }
   }
   .accordeon__bottom {
      display: none;
   }
}

.author__info {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   .authorImage {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-width: 320px;
      position: relative;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
         width: 100%;
         max-width: 414px;
      }
      &:before {
         content: '';
         display: block;
         width: 100%;
         padding-top: 100%;
      }
      img {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
      }
   }
   .text {
      width: 50%;
      @media screen and (max-width: 767px) {
         width: 100%;
         margin-bottom: 20px;
      }
   }
}
