/*----------------------------------------------- TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
}
.title-wrapp {
   display: inline-block;
   width: 100%;
}

.title {
   display: inline-block;
   width: 100%;
   font-weight: normal;
   &.title--h1 {
      @include css-r('font-size', 168, 60, 1);
      line-height: 1;
      @media screen and (max-width: 1840px) {
         @include css-r('font-size', 160, 60, 1);
      }
      @media screen and (max-width: 1560px) {
         @include css-r('font-size', 150, 60, 1);
      }
      @media screen and (max-width: 1320px) {
         @include css-r('font-size', 120, 60, 1);
      }
      @media screen and (max-width: 767px) {
         line-height: 1.1;
      }
   }
   &.title--border {
      border-top: 2px solid var(--black);
      @include css-r('padding-top', 20, 10, 1);
      @media screen and (max-width: 767px) {
         border-top: 1px solid var(--black);
      }
   }
   &.title--h2 {
      @include css-r('font-size', 80, 40, 1);
      line-height: 1;
   }
   &.title-h3 {
      @include css-r('font-size', 35, 20, 1);
      line-height: 1.2;
   }
}

.subtitle {
   @include css-r('font-size', 35, 20, 1);
   line-height: 1.2;
}
