/*----------------------------------------------- TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
}
.title-wrapp {
   display: inline-block;
   width: 100%;
}

.title {
   display: inline-block;
   width: 100%;
   font-weight: normal;
   &.title--h1 {
      @include css-r('font-size', 165, 60, 1);
      line-height: 1;
      @media screen and (max-width: 1840px) {
         @include css-r('font-size', 160, 60, 1);
      }
      @media screen and (max-width: 1560px) {
         @include css-r('font-size', 150, 60, 1);
      }
      @media screen and (max-width: 1320px) {
         @include css-r('font-size', 120, 60, 1);
      }
      @media screen and (max-width: 767px) {
         line-height: 1.1;
      }
   }
   &.title--border {
      border-top: 2px solid var(--black);
      @include css-r('padding-top', 20, 10, 1);
      @media screen and (max-width: 767px) {
         border-top: 1px solid var(--black);
      }
   }
   &.title--h2 {
      @include css-r('font-size', 80, 40, 1);
      line-height: 1;
   }
   &.title--h3 {
      @include css-r('font-size', 30, 18, 1);
      line-height: 1.2;
   }
   &.title--h4 {
      @include css-r('font-size', 30, 20, 1);
      line-height: 1.2;
   }
}

.subtitle {
   @include css-r('font-size', 35, 20, 1);
   line-height: 1.2;
}

.text,
.postArticle article p {
   @include css-r('font-size', 35, 18, 1);
   line-height: 1.2;
}

.book__author {
   display: block;
   width: 25%;
   font-size: 14px;
   line-height: 1.2;
   @media screen and (max-width: 1100px) {
      width: 100%;
      margin-bottom: 20px;
   }
}

.postArticle article {
   h2,
   h3,
   h4,
   h5,
   h6 {
      @include css-r('font-size', 40, 26, 1);
      line-height: 1.2;
   }
}
